<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
</head>
<body>

<h1>Autores</h1>
<div class="container">
<div class="row"> 
<div class="col-md-6">
	<p>Carlos Gomez Sanchez</p>
	<img class="img-rounded img-responsive center-block" src="/images/fotocarlos.JPG">
	
</div>

<div class="col-md-6">
	<p>Guillermo Carreto Lopez</p>
	<img id="fotoguille" class="img-rounded img-responsive center-block" src="/images/fotoguille.png">
	
</div>
</div>
</div>
</body>
</html>