<!DOCTYPE html>
<html>
  <meta charset="utf-8">
       <title>Preguntas </title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" media="screen">
       <link rel="stylesheet" href="/stylesheets/style.css">
       <link rel="stylesheet" type="text/css" href="/styleheets/wide.css" media="only screen and (min-width: 530px) and (min-device-width: 481px)">
       <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" href="/stylesheets/smartphone.css">
       <link rel="icon" href="favicon.ico" type="image/x-icon">
<body>

<label for="preg" class="rem">Username:</label>
<input type="text" id="username" name="user[username]" value="<%= user.username %>"><p>
<label for="resp" class="rem">Password:</label>
<input type="password" id="pass" name="user[password]"><p>
<a href="/"><button type="button">Cancelar</button></a>
<input type="submit" value="Enviar">

</body>
</html>